#welcome_container
{
	width: 590px;
	padding: 20px;
	background-color: #EEEEEE;
}

#welcome_container .header
{
	background: url(../images/check_gray.png) top left no-repeat;
	height: 60px;
	padding-left: 40px;
	font-size: 30px;
	text-transform: uppercase;
}

#welcome_container p
{
	font-size: 10px;
}

#welcome_container .header span
{
	color: #FCBF3E;
	font-weight: bold;
}

.content span
{
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
}

.content 
{
	padding-bottom: 15px;
	line-height: 16px;
}

#welcome_container .img_descrip
{
	padding: 0 20px 20px 0;
}

#welcome_container .header p
{
	color: #CCCCCC;
	font-size: 13px;
	letter-spacing: -1px;
}

.img_descrip
{
	width: 135px;
	height: 90px;
	float: left;
}

.content h3
{
	color: #06AFD1;
	font-weight: bold;
}

.links_list li
{
	background: url(../images/bullet.gif) left no-repeat;
	padding: 3px 0 7px 20px;
}

.links_list a
{	
	font-size: 11px;
	color: #06AFD1;
	text-decoration: underline;
}